name: "Docker image build defaults"
description: "Defaults for building docker images"
branding:
  icon: "box"
  color: "gray-dark"

inputs:
  username:
    description: "Docker username"
    required: false
    default: ""
  password:
    description: "Docker password"
    required: false
    default: ""
  registry:
    description: "Docker Registry"
    required: false
    default: "registry-1.docker.io"
runs:
  using: "composite"
  steps:
    ## Set some vars to be used in the build process
    - name: Set Vars
      id: set_vars
      shell: bash
      run: |
        event=${{ github.event_name }}
        case ${event} in
          pull_request|pull_request_target|pull_request_review)
            echo "[PR]: true"
            branch=${{ github.event.pull_request.head.ref }}
            ;;
          *)
            echo "[PR]: false"
            branch=${GITHUB_REF#refs/heads/}
            ;;
        esac
        echo "BRANCH_NAME=$branch" >> $GITHUB_ENV
        echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV
        echo "GITHUB_REF_SHORT=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo "DOCKER_PUSH=${{ (inputs.username != '') && (inputs.password != '') }}" >> $GITHUB_ENV

    ## Setup QEMU for multi-arch builds
    - name: Set up QEMU
      id: docker_qemu
      uses: docker/setup-qemu-action@4574d27a4764455b42196d70a065bc6853246a25 # v3.4.0

    ## Setup docker buildx
    - name: Set up Docker Buildx
      id: docker_buildx
      uses: docker/setup-buildx-action@f7ce87c1d6bead3e36075b2ce75da1f6cc28aaca # v3.9.0

    ## Login to dockerhub
    - name: Login to DockerHub
      if: |
        inputs.username != '' &&
        inputs.password != ''
      id: docker_login
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username }}
        password: ${{ inputs.password }}
